/* --------------- */

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: #434455;
  text-decoration: none;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

a:hover,
a:focus {
  color: #404bbf;
  text-decoration: underline;
}

.container {
  outline: 2px solid red;
  max-width: 1188px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ---------------- */

/* header */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  width: 1158px;
  padding: 0 15px;
}

.header-navigatin {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  align-items: center;
  flex-shrink: 0;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.header-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
}
.address-list {
  display: flex;
  align-items: center;
  font-style: normal;
  gap: 40px;
}

.contacts {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  gap: 40px;
}

/* #endheader */

/* sectiontitle */
.section-title {
  background-color: #2e2f42;
  padding: 188px 0;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
}
.button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

/* endsectiontitle */

/* features */

.features-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  width: 264px;
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-features {
  width: 1128px;
  margin-left: 156px;
}

.features-list {
  display: flex;
  width: 264px;
  gap: 8px;
}

.features-item {
  display: flex;
  width calc((100% - 3 * 24px) / 4);
}

/* #endfeatures */

/* team */

.section-team {
  background: #f4f4fd;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  margin-bottom: 72px;
  text-align: center;
}

.team-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  text-align: center;
}

.team-list {
  display: flex;
  max-width: calc((100%-24px * 3) / 4);
  gap: 24px;
}

.team-item {
  background-color: #fff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.container-team {
  padding: 32px 0;
}
/* #endteam */

/* portfolio */
.section-portfolio {
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  border: 1px solid #e7e9fc;
  background: #ffffff;
  row-gap: 48px;
}
.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-title {
  margin-bottom: 8px;
}
/* #endportfolio */

/* footer */
.container-footer {
  padding: 100px 0;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-footer-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

/* endfooter */
